@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Chukku Channel</h1>
    <p>Redirected Location <a href="https://docs.microsoft.com/aspnet/core">This is Central US Location WebApp </a>.</p>
</div>
